// FONTS
$font-regular: "sofia-regular";
$font-bold: "sofia-bold";
$font-semibold: "sofia-semibold";
$font-medium: "sofia-medium";
$font-light:"sofia-light";

// COLORS
$color-primary: #007DBF;
$color-black: #000000;
$color-white: #fff;
$color-darkgray: #fefefe;
$color-offblack: #292d32;

// BREAKPOINTS
